%h1 Homepage Using Food Waste
- if current_user.type == "Provider"
  = link_to "Add contribution", new_user_contribution_path(:user_id => current_user.id)
- elsif current_user.type == "Charity"
  = link_to "Contributions available", contributions_path

