select {
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
}

@media (max-width: 700px) {
  .push-col-1-8 {
    padding-left: 0
  }
  [id*= 'contribution_collection_date_'], [id*= 'contribution_collection_time_'] {
    width: 100%;
    padding: 10px;
    font-size: 1.2em;
  }

  input[type='text'] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border-bottom: 1px solid grey;
    margin-bottom: 10px;
  }
  ul#products-list {
    padding-left: 0;
  }
  li {
    font-size: 1.2em;
  }
  label {
    font-size: 1.2em;
  }
}
